<% if @avsender %>
  <p>
  Trykk <a href="/ny">her</a> for å skrive et nytt innlegg
  </p>
<% else %>
  <p>
  For å skrive innlegg må man være logget inn.
  Trykk <a href="/login">her</a> for å logge inn.
  </p>
<% end %>

<% @innlegg.each do |et_innlegg| %>
  <p class="innlegg-tekst">
  <%= et_innlegg[:tekst] %>
  </p>
  <p class="avsender">
  Hilsen: <%= et_innlegg[:avsender] %>
  </p>
<% end %>

<h3>Dette sier andre kidsbøker</h3>

<% @andres_innlegg.each do |et_innlegg| %>
  <p class="innlegg-tekst">
  <%= et_innlegg[:tekst] %>
  </p>
  <p class="avsender">
  Hilsen: <%= et_innlegg[:avsender] %>
  </p>
  <p class="fjenadresse">
  Hentet fra <a href="http://<%= et_innlegg[:adresse] %>:4567/">denne kidsbook maskinen</a>.
  </p>
<% end %>
