<p>
Reisens dag <%= @spill[:dag] %>
</p>

<p>
Flåtens tilstand er  <%= @spill[:tilstand] %> %
</p>

<p>
Vi har mat for  <%= @spill[:mat] %> dager
</p>

<p>
Vi har <%= @spill[:vann] %> liter vann
</p>

<p>
Vi er <%= @spill[:avstand] %> mil avgårde (av 698), og 
<%= @spill[:drifting] %>% ute av kurs </p>

<h2>Mannskapet spør, hva gjør vi i dag Thor?</h2>
<ul>
  <li><a href="/seil_videre">Seiler hardt</a></li>
  <li><a href="/fisking">Fisker for mat</a></li>
  <li><a href="/reparasjoner">Reparere flåten</a></li>
</ul>
